<app-header></app-header>

<main id="main" class="p-3">

  <div class="row">
    <div id="bar">

      <ul class="list-unstyled ps-0">
        <li class="mb-1">
          <button (click)="collapseHome.toggle()" class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#collapseHome" [attr.aria-expanded]="!isHomeCollapsed" [ngClass]="{collapsed: isHomeCollapsed}">
            Home
          </button>
          <div #collapseHome="ngbCollapse" [(ngbCollapse)]="isHomeCollapsed" id="collapseHome">
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
              <li><a routerLink="/overview" routerLinkActive="active" ariaCurrentWhenActive="page" class="link-dark d-inline-flex text-decoration-none rounded">Overview</a></li>
              <li><a routerLink="/updates" routerLinkActive="active" ariaCurrentWhenActive="page" href="#" class="link-dark d-inline-flex text-decoration-none rounded">Updates</a></li>
              <li><a routerLink="/reports" routerLinkActive="active" ariaCurrentWhenActive="page" href="#" class="link-dark d-inline-flex text-decoration-none rounded">Reports</a></li>
            </ul>
          </div>
        </li>

        <li class="mb-1">
          <button (click)="collapseConferences.toggle()" class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#collapseConferences" [attr.aria-expanded]="!isConferencesCollapsed" [ngClass]="{collapsed: isConferencesCollapsed}">
            Conferences
          </button>
          <div #collapseConferences="ngbCollapse" [(ngbCollapse)]="isConferencesCollapsed" id="collapseConferences">
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
              <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Overview</a></li>
              <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Bookings</a></li>
            </ul>
          </div>
        </li>
      </ul>
    </div>


    <div id="content">

      <router-outlet></router-outlet>


    </div>
  </div>

</main>
