/* You can add global styles to this file, and also import other style files */

//$enable-grid-classes: false;
//$enable-cssgrid: true;

@import '~bootstrap/scss/bootstrap';
//@import '~bootstrap/scss/bootstrap-grid';


body {
  min-height: 100vh;
}

html {
  height: 100vh;
}


app-root {

  #main {
    @extend .container-fluid;

    #bar {
      @extend .col-md-3;
      @extend .col-lg-2 ;
      @extend .d-md-block ;
      @extend .bg-light ;
      @extend .collapse;
      @extend .p-3;
      
      position: fixed;
      top: 48px;
      bottom: 0;
      left: 0;
      z-index: 100;
      box-shadow: inset -1px 0 0 rgb(0 0 0 / 10%);
    }

    #content {
      @extend .p-3;
      @extend .col-md-9;
      @extend .ms-sm-auto;
      @extend .col-lg-10;
      @extend .px-md-4;
    }
  }
}

.dropdown-toggle {
  outline: 0;
}

.btn-toggle {
  padding: .25rem .5rem;
  font-weight: 600;
  color: rgba(0, 0, 0, .65);
  background-color: transparent;
}

.btn-toggle:hover,
.btn-toggle:focus {
  color: rgba(0, 0, 0, .85);
  background-color: #d2f4ea;
}

.btn-toggle::before {
  width: 1.25em;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform .35s ease;
  transform-origin: .5em 50%;
}

.btn-toggle[aria-expanded="true"] {
  color: rgba(0, 0, 0, .85);
}

.btn-toggle[aria-expanded="true"]::before {
  transform: rotate(90deg);
}

.btn-toggle-nav a {
  padding: .1875rem .5rem;
  margin-top: .125rem;
  margin-left: 1.25rem;
}

.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
  background-color: #d2f4ea;
}

.scrollarea {
  overflow-y: auto;
}

